@using Score.Data.Const
@using CGP.BootstrapUI.Data
@using CGP.BootstrapUI.Data.Const
@using CGP.BootstrapUI.Data.Services.Impl
@using Sitecore.Data
@using Sitecore.Globalization
@using Sitecore.Web.UI.XslControls
@model Score.Data.ViewModels.Base.ContentPage
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.ToString()">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1, user-scalable=no" />
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageMetaData, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageHeaderScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteHeaderScripts, new { Cacheable = true })

    <link rel='shortcut icon' type='image/x-icon' href='~/Areas/AltosidIGRNewNA/img/favicon/favicon.ico' />
 
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Areas/AltosidIGRNewNA/css/main.css")" rel="stylesheet" />
    @if (Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        <link href="@Url.Content("~/Areas/ScoreBootstrapUI/css/bootstrapui_page_editor.css")" rel="stylesheet"/>
        <link href="@Url.Content("~/Areas/CGPBootstrapUI/css/page_editor.css")" rel="stylesheet"/>
        <link href="@Url.Content("~/Areas/AltosidIGRNewNA/css/page_editor.css")" rel="stylesheet"/>
    }
    else
    {
        var sharedItem = SearchHelper.FindSiteSettingsItem(Sitecore.Context.Item, CGPConstants.TemplateIds.MarketRoot, CGPConstants.TemplateIds.AddThisSettings);
        @Html.Sitecore().Field("AddThis Script", sharedItem)
    }
    <script src="~/Areas/CGPBootstrapUI/js/Vendor/modernizr.min.js"></script>
</head>
<body>

    @Html.Sitecore().Placeholder("Above Page Content")

    <div class="@CssHelper.PageWrapperClass">
    @if (Sitecore.Context.PageMode.IsPageEditorEditing && (Model.PageItem).IsDerived(new ID(CGPConstants.TemplateIds.BlogPost)))
    {
        <div class="score-component score-container">
            <div class="container">
                <div class="score-page score-column1">
                    <div class="score-main">
                        <div class="blog-short-description">
                            <h3>@Translate.Text("Blog Short Description"):</h3>
                            @Html.Sitecore().Placeholder("Blog Short Description Container")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.Sitecore().Placeholder("Page Content")
    </div>

    @Html.Sitecore().Placeholder("Below Page Content")

	
	@if (Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        <script src="~/Areas/AltosidIGRNewNA/js/page_editor.js"></script>
    }
    else
    {
        var configPaths = new[] { "/Scripts", "/Areas/CGPConsumer/js", "/Areas/CGPBootstrapUI/js", "/Areas/AltosidIGRNewNA/js" };
        <div id="score-ui-script-require-config" data-debug="@Request.IsLocal.ToString()"></div>
        foreach (var path in configPaths)
        {
        <script src="@path/require.config.js" type="text/javascript"></script>
        }
        <script data-main="/Areas/AltosidIGRNewNA/js/main.js" src="/Scripts/_lib/require.js" type="text/javascript"></script>
    }
	
    

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageFooterScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteFooterScripts, new { Cacheable = true })

</body>
</html>
