@model RenderingModel
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.ToString()">
<head>
    <meta charset="utf-8">
    <title>Snippet</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Areas/AltosidIGRNewNA/css/main.css")" rel="stylesheet" />
    @if (Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        <link href="@Url.Content("~/Areas/ScoreBootstrapUI/css/bootstrapui_page_editor.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/CGPBootstrapUI/css/page_editor.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/AltosidIGRNewNA/css/page_editor.css")" rel="stylesheet" />
    }

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="~/Areas/ScoreBootstrapUI/images/icons/score128snippet.jpg" style="float:left" />
            <h1>Content Snippet</h1>
            <br style="clear:left;" />
        </div>
    </div>
    <div class="@CssHelper.PageWrapperClass">
        @Html.Sitecore().Placeholder("SnippetContainer")
    </div>

    @if (!Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        var configPaths = new[] { "/Scripts", "/Areas/CGPConsumer/js", "/Areas/CGPBootstrapUI/js", "/Areas/AltosidIGRNewNA/js" };
        <div id="score-ui-script-require-config" data-debug="@Request.IsLocal.ToString()"></div>
        foreach (var path in configPaths)
        {
            <script src="@path/require.config.js" type="text/javascript"></script>
        }
        <script data-main="/Areas/AltosidIGRNewNA/js/main.js" src="/Scripts/_lib/require.js" type="text/javascript"></script>
    }
</body>
</html>
