.breadcrumb {
    li {
        position: relative;
        a {
        }
        &.active {
            &.before {
                &:after {
                    content: "";
                }
            }
        }
    }
    > li {
        & + li:before {
        }
    }
}
