.score-highlight {
	.score-highlight-header {

	}
    img {

    }
    .caption {
        h2 {

        }
        .score-highlight-body {

        }
        .score-call-to-action {

        }
    }
}
