.score-style-box {

}
.score-alert {

}
.score-panel {
    .panel-heading {
        .panel-title {

        }
    }
    .panel-body {

    }
    .panel-footer {

    }
}
.score-well {

}
.score-center-text {

}
.score-right-text {

}
.score-left-text {

}
