.score-style-box {
    margin-bottom: @vertical-spacing;
    &.product-cta {
        .btn {
            width: 100%;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            background: transparent;
            padding: 10px 10px 5px 10px;
            white-space: normal;
            background: url(../img/chev_right_black.png) 98% center no-repeat;
            background-size: 7px;
        }
        .score-image-button {
            margin-bottom: 0;
            padding: 0 10px;
        }
    }
}
