.jumbotron {
    &.score-section-hero {

    }   
}
.score-hero {
    .score-hero-image {
        img {

        }
    }
    h1 {

    }
    h2 {

    }
	.score-hero-body {

    }
    .score-call-to-action {

    }
}
.score-full-width-hero {
    .score-hero-image {
        img {

        }
    }
    h1 {

    }
    h2 {

    }
    .score-hero-body {

    }
    .score-call-to-action {

    }
}
.score-section-hero {
    .score-hero-image {
        img {

        }
    }
    h2 {

    }
    h3 {

    }
    .score-hero-body {

    }
    .score-call-to-action {

    }
}
