.score-document-header {
    .score-header-image {
        img {

        }
    }
    h1 {

    }
    h2 {

    }
}
.score-document-header-with-subtitle {
    .score-header-image {
        img {

        }
    }
    h1 {
        small {

        }
    }
    h2 {

    }
}
