//Global custom variables
body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

//default margin on content components
@vertical-spacing: 30px;
//site colors
@clr-black: #000;
@clr-white: #fff;
@clr-gray: #666;
@clr-ltgray: #999;
@clr-bggray: #eee;
@clr-red: #f00;
@clr-bg-gray: #4e4e4e;

@clr-lightest: #fdfdfd;
@clr-light: #E2F2FA;
@clr-medium: #CCE6F3;
@clr-dark: #B4D7EA;
@clr-darkest: #9BC6DD;

//breakpoint for mobile view
@grid-float-breakpoint: @screen-md-min;

