.score-tab {
    .nav-tabs-wrapper-outer {

    }
    .nav-tabs-wrapper-inner {

    }
    .nav-tabs {

    }
    .tab-content-wrapper-outer {

    }
    .tab-content-wrapper-inner {

    }
    .tab-content {

    }
    .score-tab-panel {

    }
}
