.basic-category {
	padding: 10px;
	background: rgba(255,255,255,.3);
	margin-bottom: @vertical-spacing;
	border: 2px solid #fff;
	.image-wrapper {
		//min height for basic category w/o an image
		min-height: 100px;
		margin-bottom: 30px;
		border: 2px solid #fff;
		position: relative;
		h1 {
			position: absolute;
			top: 30px;
			left: 30px;
			margin: 0;
		}
	}
}
