.blog-post-listing {
	margin-bottom: @vertical-spacing;
	.blog-post {
		background-color: #f4f4f4;
		border-radius: 10px;
		padding: 15px 15px 30px 15px;
		.image-wrapper {
		}
		h3 {
		}
		.post-info {
			// all inherited from blog post
		}
		.blog-short-description {
			.lead {
			}
			img {
				margin-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		p.read-more {
			margin: 20px 0 0 0;
			a.read-more {
				font-weight: bold;
			}
		}
		p.blog-comments {
			margin: 20px 0 0 0;
			a {
				font-weight: bold;
			}
		}
		p.blog-categories {
			margin: 15px 0 0 0;
			span.blog-category {
				font-weight: bold;
			}
		}
	}
}
