.blog-recent-posts {
	background-color: #D0E0E5;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: @vertical-spacing;
	h3 {
		font-size: 18px;
		font-weight: bold;
		padding: 6px;
		border-top: 2px solid #aaa;
		border-bottom: 2px solid #aaa;
		margin-bottom: 20px;
		margin-top: 10px;
        text-transform: uppercase;
        text-align:center;
	}
	ul {
		margin: 0 0 20px 0;
		padding: 0 0 0 30px;
		li {
			padding: 0;
			margin: 6px 0 0 0;
		}
	}
}
