.blog-post {
	padding-bottom: @vertical-spacing;
	margin-bottom: @vertical-spacing;
	h2 {
		font-size: 22px;
	}
	.img {
		margin-bottom: 30px;
		margin: 0 auto;
	}
	.blog-author {
		margin-bottom: 20px;
	}
	span.blog-poster {
		font-weight: bold;
	}
	.post-info {
		margin-bottom: 20px;
		.social-info {
			text-align: right;
		}
	}
	.blog-category {
		margin-bottom: 20px;
		span.parent-category-name {
			font-weight: bold;
		}
	}
	.blog-related-atricles {
		margin-bottom: 20px;
	}
	
}
