.cgp-product {
    text-align: center;
		position: relative;
		padding: 10px 10px 10px 10px;
		border: 1px solid #aaa;
    .image-holder {
			border: 2px solid #aaa;
			span.stamp-new {
				display: none;
			}
    }

    &:last-child {
        margin-right: 0;
    }

    h3 {
        font-size: 15px;
        font-weight: bold;
    }

		.data-holder {
			padding-bottom: 50px;
		}
    .product-description {
    }

    .ratings {
			width: 100%;
			bottom: 50px;
			left: 0;
			position: absolute;
			p {
				margin: 0 0 5px 0;
				a { 
					display: block; 
				}
			}
    }

    .product-price {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
    }

		.compare-wrapper {
			display: none;
			@media (max-width: @screen-sm-max) {
				display: none !important;
			}
		}
	&.new-product {
			span.stamp-new {
				display: block;
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 3px;
				background: rgba(255,255,255,.5);
				color: #000;
			}
	}
}
