.cgp-product-search-results {

    // Hide search results on page load, then make visible via js after the component is initialized
    visibility: hidden;
    padding-bottom: 300px; // So that compare overlay does not cover "Show More"

    .show-more-products {
        display: block;
        margin: 0 auto;
    }

    .search-results-header {
			padding: 15px 0;
			.displaying-results {
        display: inline-block;
			}
			.view-type {
				width: 50%;
				float: right;
				text-align: right;
				.tiled-view {
					background: transparent url("../img/tiled_view_active.png") no-repeat 0 0;
				}
				.detailed-view {
					background: transparent url("../img/detailed_view_active.png") no-repeat 0 0;
				}
				.tiled-view, .detailed-view {
					display: inline-block;
					border-width: 0;
					width: 20px;
					height: 20px;
					text-indent: -10000px;
					background-size: 20px 40px;
					&.active {
						background-position: 0 -20px;
					}
				}
			}
    }

    .product-list {
        list-style: none;
        padding: 0;
        overflow: hidden;
				//width: 100%;
				margin-left: -7px;
				margin-right: -7px;
        &.tiled {
					li {
						float: left;
						margin-bottom: 15px;
						padding-left: 7px;
						padding-right: 7px;
						@media only screen and (min-width: 0) {
								width: 100%;
						}

						@media only screen and (min-width: 570px) and (max-width: 1199px) {
								width: 50%;
						}
						@media only screen and (min-width: 1200px) {
								width: 33.33%;
						}
					}
        }
					&.enableCompare {
						.data-holder {
							padding-bottom: 60px;
							.ratings{
								bottom: 70px;
							}
							.product-price {
								bottom: 30px;
							}
							.compare-wrapper {
								display: block;
								width: 100%;
								position: absolute;
								bottom: 0;
								left: 0;
								@media only screen and (max-width: 1024px) {
									display: none;
								}
								.checkbox { margin-left: 20px; }
							}
						}
					}

        &.detailed {
            & > li {
              width: 100%;
							.cgp-product {
								.clearfix();
								margin-bottom: 20px;
								.image-holder {
									width: 30%;
									float: left;
								}
								.data-holder {
									padding-bottom: 0;
									float: left;
									margin-left: 20px;
									width: 65%;
								}
								h3, .product-description, .ratings, .product-price, .compare-wrapper {
								//	margin-left: 35%;
								}
								.product-description {
									margin-bottom: 10px;
								}
								.ratings, .product-price, .compare-wrapper {
									position: relative;
									bottom: auto;
								}
								
								.cgp-product-tile {
										img {
												width: initial;
										}
								}
							}
            }
        }

         
    }
}


.cgp-product-search-box {
    margin-bottom: 10px;

    input[type='text'] {
        width: 100%;
        text-indent: 5px;
        margin: 10px 0;
        padding: 7px;
        border-radius: 3px 4px;
        color: black;
        font-size: 1.2em;
        border: 1px solid black;
    }
}

.cgp-product-search-filter {
	.header {
		h3 {
		}
		a {
			display: inline-block;
			float: right;
			padding-top: 5px;
		}
	}
	.panel {
		margin-bottom: 20px;
	}
	.score-panel {
		.panel-heading {
			padding-left: 25px;
			background: @clr-dark url(../img/arrow_next.png) right center no-repeat;
			background-size: 22px 22px;

			a {
				background: transparent none;
			}

		}
		.panel-body {
	//        max-height: 210px;
	//        overflow-y: auto;
			padding: 0 20px 0 15px;
			background-color: @clr-bggray;

			label.checkbox {
					left: 20px;
                    &.zero-count { opacity: 0.5; }
			}
		}
		&.closed {
			.panel-body {
				display: none;
			}
			.panel-heading {
				background: @clr-dark url(../img/arrow_down.png) right center no-repeat;
				background-size: 22px 22px;
			}
		}
	}
}
