.score-section-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    color: inherit;
    li {
        ul {
            display: none;
            li {
                
            }
        }
        &.active, &.active-section {
            & > ul {
                display: block;
            }
            a {
                background: url(../img/arrow_next.png) left center no-repeat;
                background-size: 20px;
                padding-left: 20px;
            }
            & > a {
                background: url(../img/arrow_down.png) 98% center no-repeat;
                background-size: 22px;
                padding-left: 15px;
            }
        }
        & > a {
            background: url(../img/arrow_next.png) 98% center no-repeat;
            background-size: 20px;
        }
        a {
            display: block;
            padding: 10px 15px;
            color: inherit;
        }
    }
}
