.cgp-store-search {
				.mobile {
					.visible-xs-inline-block;
					.visible-sm-inline-block;
				}
				.desktop {
					.visible-md-inline-block;
					.visible-lg-inline-block;
				}
	.google-map {
		height: 600px;
		width: 100%;
		.gm-style-iw {
		}
	}
	.zip-error {
		display: none;
		color: #f00;
	}
	.no-locations-found {
		display: none;
		color: #f00;
	}
	.search-store-form {
		.form-group {
			display: inline-block;
		}
		.button-wrapper {
			display: inline-block;
		}
	}
	#search-result-list {
		height: 700px;
		overflow-y: auto;
		.store-marker {
			width: 23px;
			background: transparent url('https://chart.googleapis.com/chart?chst=d_map_spin&chld=0.60|0|e3e3e3|10|b|') no-repeat 0 0;
			text-align: center;
			font-size: 10px;
			color: #000;
			height: 42px;
			float: left;
			padding-top: 4px;
		}
		.store-info {
			padding-right: 15px;
			margin-left: 40px;
			p.distance {
				text-align: right;
			}
		}
	}
}
