.cgp-variant-selector .variation {
    .dropdown {

        span.color-sample {
            width: 20px;
            height: 16px;
            display: inline-block;
            background-size: 20px 16px;
        }

        dt, dd {
            cursor: pointer;
            background: white none repeat scroll 0 0;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
        }

        dt {
            width: 50%;
            background-image: url('../img/icon_caret.png');
            background-position: 97% 42%;
            background-repeat: no-repeat;
            min-height: 32px;
        }

        dd {
            display: none;
            left: 0px;
            position: absolute;
            top: 33px;
            width: 50%;
            min-width: 170px;
            z-index: 100;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 5px;

                    &:hover {
                        background-color: #d0c9af;
                    }
                }
            }
        }
    }

    .color-list {
        .variation-value-option {
            display: inline-block;

            .color-sample {
                display: block;
                background-size: cover;
            }

            
        }

        .variation-value {
            display: none;
        }
    }

    .disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }
}
