.cgp-product-compare {
	position: fixed;
	bottom: 0px;
	left: 50%;
	border: 1px solid #aaa;
	display: none;
	@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		display: block;
		min-width: @screen-md-min;
		margin-left: -@screen-md-min/2;
	}
	@media only screen and (min-width: @screen-lg-min) {
		display: block;
		min-width: @screen-lg-min;
		margin-left: -@screen-lg-min/2;
	}
	background-color: #efefef;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 4;
	.compare-controls {
		height: 30px;
		text-align: right;
		position: relative;
		.compare-reset {
			position: absolute;
			top: 3px;
			left: 17%;
			display: inline-block;
			a {
				cursor: pointer;
			}
		}
		button {
			display: inline-block;
			width: 25px;
			height: 25px;
			text-align: center;
		}
		
	}
	.compare-now {
		width: 16%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		h3 {
			margin-top: 0;
		}
	}
	
	.tile-wrapper {
		display: inline-block;
		vertical-align: top;
		width: 16%;
		padding-left: 10px;
		position: relative;
		.close-icon {
			position: absolute;
			top: 7px;
			right: 7px;
			width: 20px;
			height: 20px;
			z-index: 4;
			text-align: center;
			font-size: 14px;
			border: 1px solid #666;
		}
		.cgp-product {
			padding: 5px;
			.data-holder {
				//display: none;
				padding: 0;
				.product-description {
					display: none
				}
				.ratings {
					display: none
				}
				.product-price {
					display: none
				}
				.compare-wrapper {
					display: none
				}
			}
		}
	}
//
	&.maximized {
		.close.make-max {
			display: none;
		}
		.close.make-min {
			display: inline-block;
		}
	}
	&.minimized {
		.image-holder {
			display: none;
		}
		.close.make-max {
			display: inline-block;
		}
		.close.make-min {
			display: none;
		}
		// image in modal must be visible
		.modal-dialog {
			.image-holder {
				display: block;
			}
		}
	}

    .modal {
//        width: 80%;
    }
}

.modal.fade {
	.modal-dialog.cgp-modal-compare {
		width: 80%;
		p {
			font-size: 14px;
		}
		table {
			table-layout: fixed;
			width: 100%;
			td {
					width: 16.6%;
					padding: 10px;
					text-align: center;
					border-bottom: 1px solid #777;
					vertical-align: top;
					
					&.product-tile {
						text-align: left;
					}
			}
			.header-row {
				td {
					.image-wrapper {
						img {
							max-width: 100%;
							height: auto;
						}
					}
					&.product-tile {
						text-align: center;
						font-size: 20px;
					}
				}
				
				&.cgp-compare-tile {
					
				}
			}
		}
		h3 {
			font-size: 16px;
		}
	}
}
