.attachment-list {
	text-align: center;
	h3 {
		background: transparent url('../img/bg_attachment_list.png') no-repeat center bottom;
		font-size: 16px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	.link-icon {
		display: inline-block;
		padding-top: 60px;
		width: 100px;
		margin: 0 15px 20px 15px;
		vertical-align: top;
		background: transparent url('../img/bg_link_pdf.png') no-repeat center top;
		&.link_pdf {
			//default state
		}
	}
}
