.cgp-main-image {
    position: relative;
    width: 400px;
    margin: 0 auto 30px auto;
		
    img {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 0;
        padding-top: 25px;
        min-height: 400px;
        background-color: #000;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
		.image-wrapper {
			position: relative;
			.zoom-holder {
				position: absolute;
				top: 2px;
				right: 2px;
				height: 40px;
				width: 36px;
				background: transparent url("../img/magnifyingglass-mobile.png") no-repeat 0 0;
				border: 1px solid #888;
				cursor: pointer;
			}
		}
    .slides {
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;

        img {
            max-height: 393px;
            object-fit: contain;
        }
    }

    .thumbnails {
        position: relative;
        margin-bottom: 30px;
        padding: 0 35px;

        img {
        //    max-height: 125px;
        //    object-fit: contain;
        }

        .slick-slide {
            margin-left: 5px;
            margin-right: 5px;
            outline: none !important;
						&.active img {
							border: 2px solid #f00;					
						}
        }

        .slick-arrow {
            position: absolute;
            font-size: 1px;
            color: #666;
            text-indent: -3000px;
            background: transparent;
            border: none;
            outline: none;
            top: 20px;
            width: 35px;
            height: 35px;
        }

        .slick-prev {
            left: 0;
            background: url(../img/icon_arrow_left.png) center center no-repeat;
        }

        .slick-next {
            right: 0;
            background: url(../img/icon_arrow_right.png) center center no-repeat;
        }
    }
}

.cgp-thumbnail-set {
    img {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
    }

    .thumbnails {
        position: relative;
        margin-bottom: 30px;
        padding: 0 35px;

        img {
        //    max-height: 125px;
        //    object-fit: contain;
        }

        .slick-slide {
            margin-left: 5px;
            margin-right: 5px;
            outline: 0 none !important;
						&.active img {
							border: 2px solid #f00;					
						}
        }

        .slick-arrow {
            position: absolute;
            font-size: 1px;
            color: #666;
            text-indent: -3000px;
            background: transparent;
            border: none;
            outline: none;
            top: 20px;
            width: 35px;
            height: 35px;
        }

        .slick-prev {
            left: 0;
            background: url(../img/icon_arrow_left.png) center center no-repeat;
        }

        .slick-next {
            right: 0;
            background: url(../img/icon_arrow_right.png) center center no-repeat;
        }
    }
}
