.popular-products {
		.clearfix();
		.cgp-product {
			width: 24%;
			margin-right: 1%;
			float: left;
			.image-holder {
				border: 2px solid #aaa;
			}
			&:last-child {
				margin-right: 0;
			}
			h3 {
				font-size: 15px;
				font-weight: bold;
			}
			.ratings {
				bottom: 50px;
			}
			.product-price {
				bottom: 0;
			}
		}
		&.col-narrow {
			.cgp-product {
				width: 49%;
				margin-right: 1%;
				&:last-child {
					margin-right: 0;
				}
			}
			.cgp-product:nth-child(4) {
				display: none;
			}
			.cgp-product:nth-child(5) {
				display: none;
			}
		}
}
