.recently-viewed {
    position: relative;
    img {
        width: 100%;
        border: 1px solid #ddd;
    }
		.slick-slide {
			background-color: transparent;
			border: 1px solid #aaa;
			position: relative;
			box-sizing: border-box;
			margin-right: 4px;
		}
    .slides {
        margin-bottom: 10px;
        padding-left: 37px;
        padding-right: 35px;
        img {
            max-height: 393px;
            object-fit: contain;
        }
    }

		.slick-arrow {
				position: absolute;
				font-size: 1px;
				color: #666;
				text-indent: -3000px;
				background: transparent;
				border: none;
				outline: none;
				top: 145px;
				width: 35px;
				height: 35px;
		}
		.slick-prev {
			left: 0;
			background: url(../img/icon_arrow_left.png) center center no-repeat;
			content: "";
		}
		.slick-next {
			right: 0;
			width: 35px;
			height: 35px;
			background: url(../img/icon_arrow_right.png) center center no-repeat;
		}
		.cgp-product {
			text-align: center; 
			padding-bottom: 60px;
			.image-holder {
				border: 2px solid #aaa;
			}
			h3 {
				font-size: 15px;
				font-weight: bold;
			}
			.ratings {
				bottom: 50px;
			}
			.product-price {
				bottom: 0;
			}
		}
	@media only screen and (max-width :  @screen-sm-max) {
		display: none;
	}
}
