.search {
    h1 {
    }
}

.site-search-box-component {
    #header-search-button {
        display: inline-block;
        height: 26px;

        img {
            max-height: 100%;
            width: auto;
        }
    }

    .twitter-typeahead {
        .tt-dropdown-menu {
            background-color: #fff;
            padding: 5px;

            .tt-suggestion {
                cursor: pointer;

                &.tt-cursor {
                    color: #fff;
                    background-color: #0097cf;
                }
            }

            em {
                font-style: normal;
                font-weight: bold;
            }
        }
    }
}

.store-search-box-component {
    #header-search-button {
        display: inline-block;
        height: 26px;

        img {
            max-height: 100%;
            width: auto;
        }
    }
}

.site-search-result {
    margin: 20px 0;

    ul {
        list-style: none outside;
        margin: 0;
        padding: 0;
        border-top: 1px solid #aaa;
        padding-top: 10px;
        margin-top: 10px;

        li {
            .clearfix();
            padding: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #aaa;
            margin-bottom: 10px;
            clear: left;

            .search-result-thumbnail {
                width: 20%;
                float: left;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .search-result-link {
                font-weight: bold;
                font-size: 20px;
                margin-left: 23%;
            }

            .search-result-description {
                margin-top: 5px;
                margin-left: 23%;
            }
        }
    }
}
