// *** START: Fix for Bootstrap UI CSS and Experience Editor
.scInsertionHandleCenter, .sc-breadcrumb .sc-breadcrumb-item-path, .sc-breadcrumb-item-path img, .scChromeCommand
{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

.sc-breadcrumb-item-path {
    img {
        vertical-align: initial;
    }
    span {
        font-size: 12px; 
    }
}

.snippet-content {
    .scWebEditInput {
        color: #8b8b8b;
    }
}
header {
    //remove negative margin from logo 'overlay'
    .navbar-collapse {
        margin-top: 0;
    }
    .score-megamenu {
        img {
            width: auto;
        }
    }
}
body{
    color: #000;
    h1, h2 {
        .scWebEditInput {
            display: block;
        }
    }
}
.image-thumbnail-strip .thumbnail { display: inline-block; width: auto; }
.recently-viewed {
    .pg-product-tile { display: inline-block; }
    img { width: auto; }
}
.score-megamenu .navbar-nav > li,
.score-main-menu-spider .navbar-nav > li {
    display: inline-block !important;
}
.modal.quickview-modal {
    &.fade { opacity: 1; }
    display: block;
    position: relative;
    background-color: gray;
    .modal-dialog {
        width: 60%;
    }
    h4 { margin: 0; }
}
.product-listing-page-item {
    .pg-sticky-panel {
        display: block;
    }
}
.pg-article-main-image {
    img {
        width: 100%;
        max-width: 750px;
        height: auto;
    }
}
img {
    &.scEmptyImage {
        max-width: 48px;
    }
}

.container {
	width: auto !important;
}

div {
	&.btn {
		display: inline-block;
	}
}

.score-megamenu, .score-main-menu-spider {

    .navbar-brand {
        float:none;
        height:auto !important;
        display:block;

        > img {
            display:inline !important;
        }
    }

    .score-megamenu-content {
        padding:5px;
    }

    .navbar-nav {
        float:none;
        display:block;
        width:auto;
    }

    .navbar-nav > li {
        float:none !important;
        display:block;
    } 

    .navbar-nav.nav {
        &.navbar-left {
            > li {
                float:left !important;
            }
        }

        &.navbar-right {
           > li {
                float:right !important;
            }
        }
    }

    a.dropdown-toggle.toggle-caret {
        display:inline;
        padding-left:0px;
    }
}

.form-group {
	.pseudo-textbox {
		width: 90%;
		font-size: 16px;
		padding: 6px 12px;
		border: 1px solid #ccc;
		-ms-border-radius: 4px;
		border-radius: 4px;
		span.label {
			font-size: 16px;
			color: #999;
			padding-left: 0;
		}
	}
	span.label {
	  font-size: 16px;
	  color: #999;
	  padding-left: 0;
	}
	.error-message span {
		color: #f00;
	}
}

.score-pe {

    &.panel {

        background-color: inherit;
        border-radius:0;
       
        > .panel-heading {
            padding: 2px;
            background-color:rgba(220, 220, 220, 0.6);
            border-radius:0;
        
            > .panel-title {
                font-size: 12px;
                color: #333333;
                font-family:Tahoma;

                > span.glyphicon {
                    font-size:12px;
                    margin-right:2px;
                    color:#222222;
                }

                > span.score-pe-component-type {
                    color: #225599;
                    font-weight: bold;
                    margin-right:2px;    
                }
            }
        }

        > .panel-body {
            padding: 0;
            margin:0;

            > div, > nav, > span {
                padding:6px;
            }
        }
    }
}

.btn-group {
    min-width:200px;
}

.nav > li > span > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.score-variable {    
    > .score-variable-row {        
        > .score-variable-column {
            min-width:200px;
        }
    }
}

.score-editFields {
    padding:8px;
}

.score-editField {
    font-size:14px;
    margin-right:20px;
    white-space:nowrap;

    > label {
        color:#fff;
        text-shadow: 0 0 4px #000;
    }

    > img {
        border:solid 2px #4195fc;
        -webkit-box-shadow: 0 0 4px #4195fc;
        -moz-box-shadow: 0 0 4px #4195fc;
        box-shadow: 0 0 4px #4195fc; 
    }
}

#final-layout-warning {
    color: red;
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    top: 20px;
    z-index: 10000;
    text-align: center;
    width: 100%;
    border: 2px solid red;
    background-color: darkred;
}

.cgp-product-search-results {

    // Hide search results on page load, then make visible via js after the component is initialized
    visibility: visible !important;
}
// *** END
